<div>
  <% filtered_flights.order(:departure_time).each do |flight| %>
    <div>
      <li>Flight from <%= flight.departure_airport.code %> to <%= flight.arrival_airport.code %>
        <ul>
          <li>Leaves <%= flight.departure_time.strftime("on %m-%d-%Y, at %H:%M") %></li>
          <li>Estimated flight duration: <%= flight.duration%> hours. </li>
          <li>Currently seating: <%= flight.passenger_count%>/100 passengers </li>
          <% if  flight.passenger_count >= 80 %>
            <li>Act now! Only <%= 100 - flight.passenger_count%> seats left! </li>
          <% end %>
          <%= form_with url: new_booking_path, method: :get do |f|%>
            <%= f.hidden_field :flight_choice, value: flight.id.to_i, id: "flight_#{flight.id}_hidden_field" %>
            <%= f.hidden_field :passenger_count, value: (params[:tickets_search_input] || 1), id: "flight_#{flight.id}_passenger_hidden_field" %>
            <%= f.submit 'Proceed with this flight' %>
          <% end %>
        </ul>
      </li>
    </div>
  <% end %>
</div>
