<% content_for :banner do %>
<div class="image-parent">
  <%= image_tag('pexels-pixabay-163771.jpg', class: 'banner-image b1')%>
</div>
<div id="javascript" style="display: none;">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <%= javascript_pack_tag 'flights' %>
</div>
<div class="content-region">
  <div class="title-text">
  <%= link_to "FlightFinder", flights_path, method: :get %><%= image_tag('bx-paper-plane.svg', class: 'logo-img')%>
    </div>
    <div class="search-region">
      <%= render "flight_search", dates: @dates, arrival_airports: @arrival_airports, depart_airports: @depart_airports %>
    </div>
    <% flash.each do |type, msg| %>
      <div class="flash flash-<%= type %>">
        <%= msg %>
        <%= image_tag('bxs-error-circle', class: 'icon')%>
      </div>
    <% end %>
</div>
  <% end %>
<% content_for :content do %>
  <% if @filtered_flights.empty? %>
  <%= render "greeting" %>
  <% else %>
  <%= render "flight_list", filtered_flights: @filtered_flights %>
<% end %>
<% end %>