<ul>
  <li><%= link_to "Flight Finder", flights_path %></li>
  <li><%= link_to "Github Repo", "https://github.com/MchaseCov/flight-booker", target: '_blank' %></li>
  <li><%= link_to "Hotels(Placeholder)", flights_path %></li>
  <li><%= link_to "Taxis(Placeholder)", flights_path %></li>
  <li><%= link_to "Buses(Placeholder)", flights_path %></li>
</ul>
